@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Thin.ttf') format('ttf'), url('Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Light.ttf') format('ttf'), url('Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.ttf') format('ttf'), url('Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Medium.ttf') format('ttf'), url('Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.ttf') format('ttf'), url('Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Black.ttf') format('ttf'), url('Raleway-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

